body {
  background-color: rgb(0, 32, 33);
  color: rgb(226, 254, 255);
}

a:hover {
  text-decoration: none;
}

hr {
  color: rgb(226, 254, 255);
}

input {
  color: black;
}

.jumbotron#header {
  background-color: rgba(76, 76, 76, 0.9);
  color: rgb(226, 254, 255);
  text-align: center;
}

.well#nav_bar {
  background-color: rgba(76, 76, 76, 0.9);
  color: rgb(226, 254, 255);
}

.well#welcome {
  background-color: rgba(76, 76, 76, 0.9);
  color: rgb(226, 254, 255);
}
